.banner{
    height: 50vh;
    background: url(../../../../public/img/bg-barbacoa.jpg) center/cover no-repeat;
    font-family: 'Roboto', sans-serif;
}

.banner__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner__content h1{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.banner__content p{
    color: #fff;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
}

.banner__text{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}