.about{
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.about__img{
    height: auto;
    width: 45%;
}

.about__content{
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.about__content-text{
    width: 90%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
}

.greeting{
    font-size: 32px;
    font-weight: 700;
}

.about-element__tacosCA{
    position: absolute;
    top: 30%;
    left: -20%;
    transform: translate(-50%, -50%);
    z-index:-1; /* Ajusta el z-index del elemento flotante */
    height: 200px;
    transform: rotate(25deg);
}

.about-element__tacosB{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index:-1; /* Ajusta el z-index del elemento flotante */
    height: 200px;
    transform: rotate(-25deg);
}

@media screen and (max-width: 430px){
    .about{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about__img{
        height: auto;
        width: 95%;
    }
    
    .about__content{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    
    .about__content-text{
        width: 90%;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 400;
        line-height: 25px;
    }
    
    .greeting{
        font-size: 22px;
        font-weight: 500;
    }
    .about-element__tacosB, .about-element__tacosCA{
        display: none;
    }
}