.about{
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.about__img{
    height: auto;
    width: 45%;
}

.about__content{
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.about__content-text{
    width: 90%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
}

.greeting{
    font-size: 32px;
    font-weight: 700;
}

.about-element__tacosCA {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: -1;
    height: 150px;
    animation: floatAnimationTacosCA 2s infinite alternate;
}

@keyframes floatAnimationTacosCA {
    0% {
        transform: translate(-50%, -50%) rotate(25deg);
    }
    100% {
        transform: translate(-50%, -45%) rotate(25deg);
    }
}

.about-element__tacosB {
    position: absolute;
    top: 30%;
    left: 100%;
    z-index: -1;
    height: 200px;
    animation: floatAnimationTacosB 2s infinite alternate;
}

@keyframes floatAnimationTacosB {
    0% {
        transform: translate(-50%, -50%) rotate(-25deg);
    }
    100% {
        transform: translate(-50%, -45%) rotate(-25deg);
    }
}

.about-element__torta {
    position: absolute;
    top: 60%;
    left: -5%;
    z-index: -1;
    height: 350px;
    animation: floatAnimationTorta 2s infinite alternate;
}

@keyframes floatAnimationTorta {
    0% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
    100% {
        transform: translate(-50%, -45%) rotate(-20deg);
    }
}


@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


@media screen and (max-width: 430px){
    .about{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about__img{
        height: auto;
        width: 95%;
    }
    
    .about__content{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    
    .about__content-text{
        width: 90%;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 400;
        line-height: 25px;
    }
    
    .greeting{
        font-size: 22px;
        font-weight: 500;
    }
    .about-element__tacosB, .about-element__tacosCA, .about-element__torta{
        display: none;
    }
}